/* Font family: Roboto Mono, Rubik (headers)
Font-weight: normal, 600
Icons: Material Icons
CSS Effects:
- Form box-shadow: box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
- Save button box-shadow: box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
Colors:#008000 #ADAAAA #CCC #E34E45 #EEE */

body {
  background-color: rgb(231, 220, 218);
}

.finder {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #E34E45
}

h3 {
  font-family: 'Roboto Mono', monospace;
  margin-top: 0px;
}

h2 {
  color: #E34E45;
  font-family: 'Rubik', sans-serif;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: #EEE;
  color: #CCC;
  border: none;
}

.page {
  text-align: center;
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.floor-plan {
  width: 350px;
  margin: auto;
  padding: 3%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reservation-box {
  font-family: 'Roboto Mono', monospace;
  box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  width: 400px;
  height: 393px;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  position: fixed;
  top: 110px;
  left: 10px;
  right: 0px;
  z-index: 10;
}

.name,
.phone-number,
.table-number {
  border: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #CCC;
  width: 350px;
}

.name {
  margin-top: 10px;
}

.table-number {
  font-size: 10px;
  margin-bottom: 15px;
}

.submit-button {
  background-color: #008000;
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 40px;
  color: white;
  margin-bottom: 0px;
}

.table {
  flex-direction: row;
}

.material-icons {
  float: right;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: rtl;
}

.tool-tip{
position: absolute;
top: 100px;
background-color:grey;
width: 50px;
left: 2%;
display: none;
border-radius: 20%;
padding: 10%;
border: 1px black solid;
z-index: 1;


}
.reserved {
  position: relative;
  
}
.reserved:hover > .tool-tip{
display:block;
}
/* .tool-tip{
  display:block;
border: 1px black;
width: 100px;
} */


form{
display: none;
border: 1px black;
}


